<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laoazhang.mapper.PermissionMapper">

    <resultMap id="BaseResultMap" type="com.laoazhang.system.domain.Permission">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="descs" jdbcType="VARCHAR" property="descs"/>
        <result column="sn" jdbcType="VARCHAR" property="sn"/>
    </resultMap>
    <!--根据sn编码查询权限-->
    <select id="selectBySn" resultType="com.laoazhang.system.domain.Permission">
        select * from tb_permission where sn = #{permissionSn}
    </select>

</mapper>