<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laoazhang.mapper.UserMapper">

    <!--新增-->
    <insert id="insert">
        insert into tb_user(user_name, real_name, email, avatar, password, remark, phone, logininfo_id)
        values (#{userName}, #{realName}, #{email}, #{avatar}, #{password}, #{remark}, #{phone}, #{logininfoId})
    </insert>

    <update id="update">
        update tb_user
        <set>
            <if test="userName != null and !''.equals(userName.trim())">
                user_name = #{userName},
            </if>
            <if test="realName != null and !''.equals(realName.trim())">
                real_name = #{realName},
            </if>
            <if test="email != null and !''.equals(email.trim())">
                email = #{email},
            </if>
            <if test="avatar != null and !''.equals(avatar.trim())">
                avatar = #{avatar},
            </if>
            <if test="password != null and !''.equals(password.trim())">
                password = #{password},
            </if>
            <if test="remark != null and !''.equals(remark.trim())">
                remark = #{remark},
            </if>
            <if test="phone != null and !''.equals(phone.trim())">
                phone = #{phone},
            </if>
            <if test="logininfoId != null">
                logininfo_id = #{logininfoId}
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteById">
        delete
        from tb_user
        where id = #{id}
    </delete>
    <delete id="batchDel">
        delete from tb_user where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <select id="selectById" resultType="com.laoazhang.user.domain.User">
        select *
        from tb_user
        where id = #{id}
    </select>
    <select id="page" resultType="com.laoazhang.user.domain.User">
        select * from tb_user
        <include refid="pageSql"></include>
    </select>
    <select id="total" resultType="java.lang.Integer" parameterType="com.laoazhang.user.query.UserQuery">
        select count(id)
        from tb_user
    </select>
    <sql id="pageSql">
        <where>
            <if test="keyword != null and !''.equals(keyword.trim())">
                user_name like concat('%',#{keyword},'%') or
                real_name like concat('%',#{keyword},'%') or
                email like concat('%',#{keyword},'%') or
                phone like concat('%',#{keyword},'%')
            </if>
        </where>
    </sql>
</mapper>